@model ECommerceApp.Models.Category

@{
    ViewData["Title"] = "Add Category";
}

<h2>Add Category</h2>

<form asp-action="Create">
    <div class="mb-3">
        <label class="form-label">Category Name</label>
        <input asp-for="Name" class="form-control" required />
    </div>

    <button type="submit" class="btn btn-success">Add Category</button>
</form>
